## Deliverable 3. Create a Travel Itinerary Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import json
import matplotlib.pyplot as plt
import numpy as np
# Dependencies
from citipy import citipy

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [12]:
# Build URL using the Google Maps APIs
geocode_base_url = "https://maps.googleapis.com/maps/api/geocode/json"
nearby_base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [13]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
hotel_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
hotel_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,Passagem Franca,BR,90.48,overcast clouds,-6.18,-43.78,Hotel Brasil
1,3,Cape Town,ZA,71.60,clear sky,-33.93,18.42,Southern Sun Waterfront Cape Town
2,12,East London,ZA,66.20,scattered clouds,-33.02,27.91,Tu Casa
3,13,Dingle,PH,76.75,overcast clouds,11.00,122.67,Camp Pasica
4,19,Rikitea,PF,74.82,few clouds,-23.12,-134.97,Pension Maro'i

In [14]:
len(hotel_df)

848

In [15]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

In [17]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
hotel_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,Passagem Franca,BR,90.48,overcast clouds,-6.18,-43.78,Hotel Brasil
1,3,Cape Town,ZA,71.60,clear sky,-33.93,18.42,Southern Sun Waterfront Cape Town
2,12,East London,ZA,66.20,scattered clouds,-33.02,27.91,Tu Casa
3,13,Dingle,PH,76.75,overcast clouds,11.00,122.67,Camp Pasica
4,19,Rikitea,PF,74.82,few clouds,-23.12,-134.97,Pension Maro'i
...,...,...,...,...,...,...,...,...
843,1815,Kahului,US,78.80,few clouds,20.89,-156.47,Maui Seaside Hotel
844,1816,Souillac,MU,71.60,shower rain,-20.52,57.52,Bils' Villa
845,1817,Hilo,US,75.20,overcast clouds,19.73,-155.09,Hilo Hawaiian Hotel
846,1819,Berekua,DM,86.00,scattered clouds,15.23,-61.32,CarRod's Cottages
847,1822,Saint-Philippe,RE,73.40,broken clouds,-21.36,55.77,"Chambres d'hÃ´te ""La TrinitÃ©"""

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
import pandas as pd

vacation_df = hotel_df

vacation_start = hotel_df.loc[(hotel_df["City_ID"]== 34)] 
vacation_end = hotel_df.loc[(hotel_df["City_ID"]== 34)] 
vacation_stop1 = hotel_df.loc[(hotel_df["City_ID"]== 1142)] 
vacation_stop2 = hotel_df.loc[(hotel_df["City_ID"]== 1547)]
vacation_stop3 = hotel_df.loc[(hotel_df["City_ID"]== 1700)] 

vacation_df = hotel_df.loc[(hotel_df["City_ID"]== 34)|
                              (hotel_df["City_ID"]== 1142)|
                              (hotel_df["City_ID"]== 1547)|
                              (hotel_df["City_ID"]== 1700)|
                             (hotel_df["City_ID"]== 34)]

vacation_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
10,34,Marseille,FR,68.00,clear sky,43.33,5.50,HÃ´tel The Originals CÃ´tÃ© Sud (ex Inter-Hotel)
529,1142,Bergerac,FR,71.60,clear sky,44.83,0.50,"The Originals City, HÃ´tel de Bordeaux, Bergera..."
727,1547,Yzeure,FR,72.00,clear sky,46.56,3.35,Mercure Moulins Centre - HÃ´tel de Paris
788,1700,Tarare,FR,66.99,clear sky,45.90,4.43,Restaurant Le Saint Clement

In [20]:
vacation_start = hotel_df.loc[(hotel_df["City_ID"]== 34)] 
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
10,34,Marseille,FR,68.0,clear sky,43.33,5.5,HÃ´tel The Originals CÃ´tÃ© Sud (ex Inter-Hotel)

In [21]:
vacation_stop1

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
529,1142,Bergerac,FR,71.6,clear sky,44.83,0.5,"The Originals City, HÃ´tel de Bordeaux, Bergera..."

In [22]:
vacation_stop2

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
727,1547,Yzeure,FR,72.0,clear sky,46.56,3.35,Mercure Moulins Centre - HÃ´tel de Paris

In [23]:
vacation_stop3

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
788,1700,Tarare,FR,66.99,clear sky,45.9,4.43,Restaurant Le Saint Clement

In [24]:
vacation_end

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
10,34,Marseille,FR,68.0,clear sky,43.33,5.5,HÃ´tel The Originals CÃ´tÃ© Sud (ex Inter-Hotel)

In [25]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np

lats = pd.DataFrame(vacation_df['Lat']) 
lats.head()

       Lat
10   43.33
529  44.83
727  46.56
788  45.90

In [26]:
#make it as array using to_numpy()
print(lats.to_numpy())

[[43.33]
 [44.83]
 [46.56]
 [45.9 ]]

In [27]:
lngs = pd.DataFrame(vacation_df['Lng'])
lngs.head()

      Lng
10   5.50
529  0.50
727  3.35
788  4.43

In [28]:
#make it as array using to_numpy()
print(lngs.to_numpy())

[[5.5 ]
 [0.5 ]
 [3.35]
 [4.43]]

In [29]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
itenerary = np.concatenate((lats,lngs), axis=1)
itenerary

array([[43.33,  5.5 ],
       [44.83,  0.5 ],
       [46.56,  3.35],
       [45.9 ,  4.43]])

In [30]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps
import gmaps.datasets
gmaps.configure(api_key='AIzaSyBMG-s1gC60u87OKq8hB4kokP1FNGksa9o')

# Latitude-longitude pairs
start = (43.33, 5.5)
stop1 = (44.83, 0.5)
stop2 = (46.56,3.35)
stop3 = (45.9, 4.43)
end = (43.33, 5.5)


fig = gmaps.figure()
start2end = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],travel_mode='DRIVING')
fig.add_layer(start2end)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.


itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,34,Marseille,FR,68.00,clear sky,43.33,5.50,HÃ´tel The Originals CÃ´tÃ© Sud (ex Inter-Hotel)
1,1142,Bergerac,FR,71.60,clear sky,44.83,0.50,"The Originals City, HÃ´tel de Bordeaux, Bergera..."
2,1547,Yzeure,FR,72.00,clear sky,46.56,3.35,Mercure Moulins Centre - HÃ´tel de Paris
3,1700,Tarare,FR,66.99,clear sky,45.90,4.43,Restaurant Le Saint Clement
4,34,Marseille,FR,68.00,clear sky,43.33,5.50,HÃ´tel The Originals CÃ´tÃ© Sud (ex Inter-Hotel)

In [32]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [33]:
locations = itinerary_df[["Lat", "Lng"]]
locations

     Lat   Lng
0  43.33  5.50
1  44.83  0.50
2  46.56  3.35
3  45.90  4.43
4  43.33  5.50

In [34]:
hotel_info

['\n<dl>\n<dt>Hotel Name</dt><dd>HÃ´tel The Originals CÃ´tÃ© Sud (ex Inter-Hotel)</dd>\n<dt>City</dt><dd>Marseille</dd>\n<dt>Country</dt><dd>FR</dd>\n<dt>Max Temp</dt><dd>68.0 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Originals City, HÃ´tel de Bordeaux, Bergerac (Inter-Hotel)</dd>\n<dt>City</dt><dd>Bergerac</dd>\n<dt>Country</dt><dd>FR</dd>\n<dt>Max Temp</dt><dd>71.6 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mercure Moulins Centre - HÃ´tel de Paris</dd>\n<dt>City</dt><dd>Yzeure</dd>\n<dt>Country</dt><dd>FR</dd>\n<dt>Max Temp</dt><dd>72.0 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Restaurant Le Saint Clement</dd>\n<dt>City</dt><dd>Tarare</dd>\n<dt>Country</dt><dd>FR</dd>\n<dt>Max Temp</dt><dd>66.99 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HÃ´tel The Originals CÃ´tÃ© Sud (ex Inter-Hotel)</dd>\n<dt>City</dt><dd>Marseille</dd>\n<dt>Country</dt><dd>FR</dd>\n<dt>Max Temp</dt><dd>68.0 Â°F</dd>\n</dl>\n']

In [35]:
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,34,Marseille,FR,68.00,clear sky,43.33,5.50,HÃ´tel The Originals CÃ´tÃ© Sud (ex Inter-Hotel)
1,1142,Bergerac,FR,71.60,clear sky,44.83,0.50,"The Originals City, HÃ´tel de Bordeaux, Bergera..."
2,1547,Yzeure,FR,72.00,clear sky,46.56,3.35,Mercure Moulins Centre - HÃ´tel de Paris
3,1700,Tarare,FR,66.99,clear sky,45.90,4.43,Restaurant Le Saint Clement
4,34,Marseille,FR,68.00,clear sky,43.33,5.50,HÃ´tel The Originals CÃ´tÃ© Sud (ex Inter-Hotel)

In [36]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

In [37]:
# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# The end